/*noinspection ALL*/
#screen {
  viewport-fill: #252526;
  viewport-fill: #2d2d30;
}

/*noinspection ALL*/
#TPane{
  x: 0%;
  y: 0%;
  width: 97%;
  height: 13%;
}

/*noinspection ALL*/
#TPaneItem{
  fill: #1e1e1e;
  x: 0%;
  y: 2%;
  width: 50%;
  height: 100%;
}

/*noinspection ALL*/
#TPaneText {
  font-size: 16;
  text-anchor: end;
  x: 42%;
  y: 50%+8;
}

/*noinspection ALL*/
#TPaneCross {
  x: 44%;
  y: 38%+4;
  width: 8;
  height:  8;
}

/*noinspection ALL*/
#CPane{
  x: 0%;
  y: 10%;
  width: 100%;
  height: 90%;
}

/*noinspection ALL*/
#CPaneBackground{
  x: 0%;
  y: 0%;
  fill: #1e1e1e;
  width: 100%;
  height: 100%;
}

/*noinspection ALL*/
#CPaneNumberPanel {
  x: 17%;
  y: 8%;
}

/*noinspection ALL*/
.CPaneNumber {
  x: 0%;
  font-family: System-Bold;
  text-length: 2;
  fill: #626269;
  font-size: 20;
  text-anchor: end;
  opacity: 0.6;
}

/*noinspection ALL*/
#CPaneCodePanel{
  x: 21%;
  y: 8%;
}

/*noinspection ALL*/
.CPaneCodeWhiteBrace {
  font-family: System-Bold;
  text-length: 2;
  fill: white;
  font-size: 18;
  text-anchor: start;
}

/*noinspection ALL*/
.CPaneCodeWhite {
  font-family: System-Bold;
  text-length: 2;
  fill: white;
  font-size: 21;
  text-anchor: start;
}

/*noinspection ALL*/
.CPaneCodeBlue {
  font-family: System-Bold;
  text-length: 15;
  fill: #9cdcfe;
  font-size: 21;
  text-anchor: start;
}

/*noinspection ALL*/
.CPaneCodeOrange {
  font-family: System-Bold;
  text-length: 20;
  fill: #ce9178;
  font-size: 21;
  text-anchor: start;
}

/*noinspection ALL*/
#datetime{
  x: 30%;
  y: 60%;
}

/*noinspection ALL*/
.displayText {
  font-family: System-Bold;
  text-length: 32;
  fill: white;
}

.hidden {
  visibility: hidden;
}

.zeroOpacity{
  opacity: 0;
}

/*noinspection ALL*/
#CPaneNumberPanelSolo {
  x: 17%;
  y: 24%;
}

/*noinspection ALL*/
.CPaneNumberSolo {
  x: 0%;
  font-family: System-Bold;
  text-length: 2;
  fill: #626269;
  font-size: 45;
  text-anchor: end;
  opacity: 0.6;
}

/*noinspection ALL*/
#CPaneSoloTime{
  x: 8%;
  y: 23%;
}

/*noinspection ALL*/
.CPaneCodeWhiteBraceSolo {
  font-family: System-Bold;
  text-length: 2;
  fill: white;
  font-size: 38;
  text-anchor: start;
}

/*noinspection ALL*/
.CPaneCodeWhiteSolo {
  font-family: System-Bold;
  text-length: 2;
  fill: white;
  font-size: 38;
  text-anchor: start;
}

/*noinspection ALL*/
.CPaneCodeBlueSolo {
  font-family: System-Bold;
  text-length: 15;
  fill: #9cdcfe;
  font-size: 38;
  text-anchor: start;
}

/*noinspection ALL*/
.CPaneCodeOrangeSolo {
  font-family: System-Bold;
  text-length: 20;
  fill: #ce9178;
  font-size: 38;
  text-anchor: start;
}

/*noinspection ALL*/
#clickable {
  x: 0;
  y: 0;
  width: 100%;
  height: 100%;
  pointer-events: visible;
  opacity: 0;
}